.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  &__logo {
    img {
      width: 70px;
      height: 70px;
    }
  }
  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    &__links {
      display: flex;
      gap: 1rem;
      align-items: center;
    }

    &__button{
        display: none;
    }


  }
}
